@layer base {
  html {
    @apply font-sans;
  }
}

html {
  width: 100%;
  height: 100%;
  @apply bg-[#FFFFFF];
}

body {
  margin: 0;
  padding: 0;
  @apply relative;
}

/** Класс прерывания строки для flex коробок. */
.break-row {
  flex-basis: 100%;
  height: 0;
}
