@font-face {
	font-family: 'Miama Nueva';
	src: local("Miama Nueva"), url("@fonts/Miama Nueva/Miama Nueva.woff2") format("woff2"), url("@fonts/Miama Nueva/Miama Nueva.woff") format("woff");
	font-weight: normal;
	font-display: swap;
	font-style: normal;
}

